@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border-color: #e33737;
  border-radius: 10px;
  
  box-sizing:border-box;
  margin:0;
  padding:0;
  
  
}
.containercontact,
input,
textarea {
  font-family: Helvetica, sans-serif;
}

.containercontact {
  
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  
  width: 100%;
  max-width: 820px;
  background-color: #FFF5EE;
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #e33737;
  position: relative;
}




.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #e33737;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title-contact {
  
  color: #fff;
  line-height: 1.5;
  
  font-size:1.55rem;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 10px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 8px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  font-weight: 800;
  color: #e33737;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #e33737;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  border-radius: 10px 0px 0px 10px;
  border: 4px solid #e33737;
  padding: 2.3rem 2.2rem;
  position: relative;
  
}

.contact-info .title-contact {
  color: black;
}

.text {
  color: black;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
  margin-bottom:2rem;
}
.information p{
  margin:0;
}
.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons-contact {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons-contact a {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #e33737, #e33737);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.social-icons-contact a img{
  width:25px;
}

.social-icons-contact a:hover {
  transform: scale(1.05);
}





.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
    margin:20px;
  }



  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }


  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 420px) {
  .form{
    margin-top:50px;
    overflow:visible;
  }
  

  .contact-info:before {
    display: none;
  }
  .contact-form::before{
    display:none;
  }
  .square,


  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
    border-radius: 10px 10px 0 0;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title-contact {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
