body {
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: #FFF5EE;
}
.logo.active{
    display:none;
}
/*no header*/
.logo{
    display:block;
    width:145px;
    top:15px;
    position:absolute;
}
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: black;
    text-decoration: none;
}
.hamburger{
    width:50%;
}
@media (max-width: 420px) {
    .logo{
        width:130px;
    }
    
    
    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}




/* Change navbar styling on scroll */
.navbar.active {
    background: #ff9c9c;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.social-icons-footer a img{
    height:16px;
    margin:5px;
  }
.social-icons-footer{

    text-align: center;
    display: inline-block;
    margin-top: 0.5rem;
    
    left:0px;
    bottom:0px;
}
